body {
	background: #F7F7F7;
	border-top: 10px solid #F0F2F1;
}

.l-centered {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.l-box {
	padding: 1.3em;
}

.rgt {
	float: right;
}

.left {
	float: left;
}

#banner-top {
	width: 100%;
	margin: 10px 0px;
	max-height: 396px;
}

.title {
	text-align: center;
	text-shadow: 0 1px 1px #000000;
	color: #232323;
	margin-bottom: 50px;
	font-weight: 500;
}

#albums-container {
	
}

.album-title {
	color: #999999;
}

.album-meta {
	color: #ababab;
}

#main-container {
	margin-bottom: 200px;
}

.album-cover {
	height: 150px;
	width: 150px;
	margin: 10px;
	box-shadow: 0 0 5px #141414;
}

.album>*:hover {
	cursor: pointer;
}

#albums-container {
	
}

.artist-name {
	color: #999999;
	padding-bottom: .3em;
	margin-bottom: 2em;
	border-bottom: 1px solid #DDDDDD;
}

.artist-img {
	height: 150px;
	width: 150px;
	box-shadow: 0 0 5px #141414;
}

.artist>*:hover {
	cursor: pointer;
}

#main-nav>.logo>a {
	color: #DDDDDD;
}

#main-nav>.logo>a:hover {
	color: #E9E9E9;
}

#uploadForm-container {
	margin: 20px auto;
}

.artist-view {
	text-align: center;
	background: white;
	min-height: 580px;
	overflow: hidden;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	margin: 20px auto;
}

.artist-view:hover {
	background: #F4F4F4;
	cursor: pointer;
}

.artist-view .artist-descp,.artist-view .artist-title,.artist-view .artist-genres
	{
	padding: 10px 15px 10px 15px;
}

.artist-view .artist-cover {
	height: 300px;
	width: 100%;
	margin: 0px;
	box-shadow: 0 0 5px #141414;
}

.artist-view .artist-descp {
	text-align: left;
}

.artist-view {
	max-height: 300px;
}

/* =====================================
           artista_detalle.html
   =====================================
   */
#artist-descp {
	text-align: justify;
}
/* =====================================
         /artista_detalle.html
   =====================================
   */