<div class="twelve columns">
	<div class="row">
		<div class="l-centered twelve columns">
			<div
				class="medium btn pill-left default icon-left icon-left-open-mini">
				<a href="#" id="back-generos">volver</a>
			</div>
			<div class="medium squared btn default icon-left icon-pencil">
				<a href="#" data-id="<%= genero.codigo %>" id="data-view-descps">Descripcion</a>
			</div>
			<div class="medium squared btn default icon-left icon-music">
				<a href="#" data-id="<%= genero.codigo %>" id="data-view-albums">Musica</a>
			</div>
			<div id="edit-genero"
				class="medium btn pill-right default icon-right icon-right-open-mini">
				<a href="#" data-id="<%= genero.codigo %>" id="to-edit">Editar<i
					class="icon icon-pencil"></i></a>
			</div>
		</div>
	</div>
	<div id="artist-content">
		<div class="row">
			<div class="twelve columns" id="artist-title-container">
				<br />
				<h2 class="l-centered" id="artist-title"><%= genero.nombre %></h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="twelve columns" id="artist-descp-container">
				<p id="genero-descp"></p>
			</div>
		</div>
	</div>

	<div style="display: none;" id="descp"><%= genero.descripcion %></div>

	<script type="text/javascript">
		var urlBanner = "/banners/" + "<%= genero.nombre %>".replace(/ /g, '');
		$("#genero-descp").html($("#descp").text()); // DON'T FUCKING ASK!!!

		console.log(urlBanner);

		if ("<%= genero.nombre %>".length === 0) {
			eckankar.banner
					.set_img_banner($("#banner-top"), "/banners/default");
		} else {
			eckankar.banner.set_img_banner($("#banner-top"), urlBanner);
		}
	</script>

</div>