<div class="row" id="uploadForm-container">
	<form action="/nusuario" method="POST">
		<fieldset>
			<legend> Agregar Usuario </legend>
			<ul>
				<li class="l-centered prepend field"><span class="adjoined"
					style="width: 150px;">Usuario:</span> <input name="usuario"
					class="xwide text input" type="text" placeholder="usuario" /></li>
				<li class="l-centered prepend field"><span class="adjoined"
					style="width: 150px;">Contraseña: </span> <input name="password"
					class="xwide text input" type="password" placeholder="contraseña" /></li>
				<li class="l-centered prepend field"><span class="adjoined"
					style="width: 150px;">Correo:</span> <input name="correo"
					class="xwide text input" type="text"
					placeholder="correo@domain.com" /></li>
				<li class="l-centered prepend field"><span class="adjoined"
					style="width: 150px;">Nombres:</span> <input name="nombre"
					class="xwide text input" type="text" placeholder="Nombre..." /></li>
				<li class="l-centered prepend field"><span class="adjoined"
					style="width: 150px;">Apellidos:</span> <input name="apellidos"
					class="xwide text input" type="text" placeholder="apellidos..." /></li>
				<li class="l-centered prepend field"><span class="adjoined"
					style="width: 150px;">Telefono:</span> <input name="telefono"
					class="xwide text input" type="text" placeholder="telefono..." /></li>
				<li class="l-centered"><input type="submit" value="Ingresar"
					style="height: 35px; color: #F7F7F7; width: 80%"
					class="info btn l-centered"></input></li>
			</ul>
		</fieldset>
	</form>
</div>