<div class="row" id="uploadForm-container">
	<form id="uploadForm" action="/upload" method="POST">
		<div class="six columns">
			<div id="uploadButton" class="medium primary btn"
				style="width: 100%;">
				<a> <i class="icon-upload"></i>
				</a>
			</div>
		</div>
		<div class="six  columns">
			<input id="submitFiles" type="submit" value='Subir Archivos'
				class="medium secondary btn" style="width: 100%; color: #FCFCFC;" />
		</div>
		<input style="overflow: hidden; height: 0px; width: 0px;"
			id="filechooser" type="file" name="file" multiple="multiple" /> <input
			type="hidden" name="name" value="Files" />
	</form>
</div>
<div class="row">
	<div id="uploaded-container" style="display: hidden;"
		class="twelve columns"></div>
</div>
<div class="row">
	<div class="twelve columns">
		<div class="twelve columns" id="uploads-container"></div>
	</div>
</div>
<script type="text/javascript">
	base.uploader();
</script>